.color-primario-claro
  background-color: #FFEDD2
  color: #12263F 
.color-primario-claro-2
  background-color: #FFCB7F
  color: #12263F 
.color-acento-contenido-claro
  background-color: $color-acento-contenido-claro
.tarjeta-rounded
  border-radius: 20px
  min-height: 260px
.text-div
  min-height: 240px
.cuadros-iconos
  flex-wrap: wrap
  display: flex
  .cuadros
    justify-content: center
    display: inline-block
    width: 203px
    flex-grow: 1
.completa
 min-height: 179px
.color-acento-contenido
  background-color: $color-acento-contenido
.color-gris
  background-color: #F6F6F6
  border-top: none
  border-bottom: none
.no-border
  td
    border-top: none
    border-bottom: none

